@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,400&display=swap');

:root{

/* palette */
--primary-solid:rgba(255, 0, 0, 1);
--primary-900:rgba(255, 0, 0, 0.9);
--primary-500:rgba(255, 0, 0, 0.5);
--primary-300:rgba(255, 0, 0, 0.3);

--secondary-solid:#008000;
--secondary-900: rgba(0, 128, 0, 0.9);
--secondary-500:rgba(0, 128, 0, 0.5);
--secondayr-300:rgba(0, 128, 0, 0.3);

--dark-solid: #1f1f1f;
--dark-900: rgb(31, 31, 31, 0.9);
--dark-500: rgb(31, 31, 31, 0.5);
--dark-300: rgb(31, 31, 31, 0.3);

--dark-bg-solid: #30343F;
--light-bg-solid:#FAFAFF;
--light-font-solid: #FFFFFF;

/* Typography */
--base-font:'Roboto', sans-serif;

/* Font-sizes */
--font-display: 4.6em;
--font-jumbo: 3.8em;
--font-xlarge: 3em;
--font-large: 2.4em;
--font-medium: 1.8em;
--font-small: 1.6em;
--font-xsmall: 1.4em;

/* Spacing */
--spacing-128: 12.8rem;
--spacing-68: 6.8rem;
--spacing-36: 3.6rem;
--spacing-28: 2.8rem;
--spacing-26: 2.6rem;
--spacing-24: 2.4rem;
--spacing-20: 2rem;
--spacing-16: 1.6rem;
--spacing-12: 1.2rem;
--spacing-8: 0.8rem;
}

html{
    font-family: var(--base-font);
    color:var(--dark-solid);
}

@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

a{
    text-decoration: none;
    color:var(--dark-solid) !important;
    font-family: var(--base-font) !important;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

p{
font-size: var(--font-medium);
}  

.container {
    max-width: 1200px !important;
    margin: 0 auto;
}

/* HEADER */

header {
    background-color: var(--light-bg-solid);
    padding: var(--spacing-36) !important;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo{
    max-width: 250px;
}

.navbar__menu{
    display: flex;
    align-items: center;
    gap: var(--spacing-26);
}

.navbar__link{
    position:relative;
    font-size: var(--font-xsmall);
    padding: var(--spacing-8) var(--spacing-12);
    transition: background .3s ease-in-out;
}

.navbar__link:hover {
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid)!important;
    text-decoration: none;
  }
  
.with-icon{
    display:flex;
    align-items: center;
    gap: var(--spacing-8);
}

.with-submenu:hover .submenu{ 
    display:block;     
}

.submenu{
    display:none;
    width: 300px;
    position:absolute;
    background-color: var(--light-bg-solid);   
    z-index: 1;
}

.submenu__link{
    display:block;
    padding:var(--spacing-8) var(--spacing-16);
    font-size: var(--font-xsmall);
    transition: background .3s ease-in-out;
}

.submenu__link:hover {
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    text-decoration: none;
}

/* BANNER */

.banner {
    background-image: url(../media/images/pexels-wr-heustis-16488650.jpg);
    padding: var(--spacing-36);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    position:relative;
}

.banner::before{
    content: '';
    background-color: rgba(0,0,0,0);
    width: 100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    backdrop-filter: blur(2px) brightness(.7);
}

.banner__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    align-items: start;
    z-index: 2;
    position: relative;
}

.banner__title {
    font-family: var(--base-font);
    font-size:var(--font-jumbo);
    color: var(--light-font-solid);
}

.banner__text {
    font-family: var(--base-font);
    font-size:var(--font-medium);
    color: var(--light-font-solid);
}

.banner__link { 
    display: inline-block;
    font-size:var(--font-small);
    background-color: var(--light-bg-solid);
    padding: var(--spacing-12) var(--spacing-68);
    border-radius: 50px;
    font-weight: 500; 
    transition: all .3s ease-in-out;
}

.banner__link:hover{
    background-color: var(--primary-solid);
    color:var(--light-font-solid);
}

/* COLLECTIONS */

.collection {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding: var(--spacing-26);
}

.collection:nth-child(2) .collection__cover{
    order: -1;
}

.collection__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
    align-items: start;
    padding:20%;
}

.collection__title {
    font-family: var(--base-font);
    font-size: var(--font-medium);
    font-weight: 500;
}

.collection__text {
    font-family: var(--base-font);
    font-size: var(--font-small);
    font-weight: 300px;
}

.collection__link{
    display: inline-block;
    font-size: var(--font-xsmall);
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    border-radius: 50px;
    padding: var(--spacing-8) var(--spacing-12);
    transition: all .3s ease-in-out;
}

.collection__link:hover{
    background-color: var(--primary-solid);
    color:var(--light-font-solid);
}

/*FOOTER*/

.footer{
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-24);
}

.footer__link {
    font-family: var(--base-font);
    font-size: var(--font-xsmall);
    color:  var(--light-font-solid);
    font-weight: 300px;
}

.footer__link:hover{
    font-family: var(--base-font);
    font-size: var(--font-xsmall);
    color: var(--primary-solid);
    font-weight: 300px;
}

/*FORMS*/

.contact-main-container{
    max-width: 1200px !important;
    margin: 0 auto;
}

.contact-form__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 48px;
}

.contact-form__services{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px;
}

.contact-form__dates .contact-form-group{
    display: flex;
    justify-content: start;
    margin: 10px 0px;
}

.contact-form__message{
    display: flex;
    margin: 20px 0px;
}

.contact-form__message .contact-form__label{
    display: flex;
    align-items: flex-start;
    margin:5px 0px;
}

form .contact-form-group{
    width: 100%;
    display: flex;
    align-items: center !important;
}

.contact-form__textArea  {
    font-size: 17px;
    border: 1px solid var(--dark-300);
    border-radius: 4px;
    box-sizing: border-box;
    margin-left:5px;
}

input[type=submit] {
    margin-top:  50px;
    border-radius: 5px;
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    font-family: var(--base-font);
    overflow: hidden;
    height: 40px !important;
    width: 8%;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--light-bg-solid);
  color: var(--dark-solid);
  border: 0.5px solid var(--dark-solid);
}

.hr_color{
    border-top: 1px solid var(--dark-300);
}

input[type=text], select {
    width: 25%;
    height: 25px;
    margin-left: 5px;
    display: inline-block;
    border: 1px solid var(--dark-300);
    border-radius: 4px;
    box-sizing: border-box;
    align-items: center;
    transition: width 0.4s ease-in-out;
  }

  input[type=text]:focus {
    width: 50%;
  }

  input[type=email] {
    width: 25%;
    height: 25px;
    margin-left: 5px;
    display: inline-block;
    border: 1px solid var(--dark-300);
    border-radius: 4px;
    box-sizing: border-box;
    align-items: center;
    transition: width 0.4s ease-in-out
  }

  input[type=email]:focus {
    width: 50%;
  }

  input[type=date] {
    appearance: none;
    font-family: var(--base-font);
    color: var(--dark-solid);
    border:1px solid #ECF0F1;
    background:#ECF0F1;
    padding: 4px;
    display: inline-block;
    visibility: visible;
    width: 140px;
    margin-left:5px;
    }

input[type=date]:focus {
    color: var(--dark-solid);
    background-color: #FFFFFF;
    border-color: #80BDFF;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }